*{
    overflow-x: hidden;
    font-family: "Roboto Condensed",sans-serif;
    box-sizing: border-box;
  }
nav
{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    min-height: 10px !important;
    background-color: #333 !important;
    color: white !important;
    text-transform: uppercase !important;
}
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* navbar pc iconok */

#yticon{
    position: relative;
    top: 4px;
    padding-left:5px !important;
    padding-right:5px !important;
   
  
}
#dcicon{

    padding-left:5px !important;
    padding-right:5px !important;
    
}
#progressicon{
 
    padding-left:5px !important;
    padding-right:5px !important;
}
  /*
  =====
  ITT KEZTDŐDIK
  =====
  */
.ha-screen-reader{
    overflow: hidden;
    width: var(--ha-screen-reader-width, 1px);
    height: var(--ha-screen-reader-height, 1px);
    padding: var(--ha-screen-reader-padding, 0);
    border: var(--ha-screen-reader-border, none);
  
    position: var(--ha-screen-reader-position, absolute);
    clip: var(--ha-screen-reader-clip, rect(1px, 1px, 1px, 1px));
    overflow: var(--ha-screen-reader-overflow, hidden);
  }
  

  
  .field__input{ 
    overflow: hidden;
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
    overflow: hidden;
    background-color: transparent;
    border-radius: 0;
    border: none;
    color:white;
    font-family: inherit;
    font-size: inherit;
  }
  
  .field__input:focus::-webkit-input-placeholder{
    color: var(--uiFieldPlaceholderColor);
    overflow: hidden;
  }
  
  .field__input:focus::-moz-placeholder{
    color: var(--uiFieldPlaceholderColor);
    overflow: hidden;
  }
  
  /*
  =====
  CORE STYLES
  =====
  */
  
  .field{
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
    --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));
  
    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 1rem);
    overflow: hidden;
  }
  
  .field__input{
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));  
    overflow: hidden;
  }
  
  .field__input:focus{
    outline: none;
    overflow: hidden;
  }
  
  .field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
    overflow: hidden;
  }
  
  .field__input::-moz-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
    overflow: hidden;
  }
  
  .field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
    overflow: hidden;
  }
  
  .field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
    overflow: hidden;
  }
  
  .field__label-wrap{
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;
  overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .field__label-wrap::after{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .field__input:focus ~ .field__label-wrap::after{
    opacity: 1;
    overflow: hidden;
  }
  
  .field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    top: calc(50% - .9em);
  
    line-height: 1;
    font-size: var(--fieldHintFontSize, inherit);
    overflow: hidden;
    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
  }
  
  .field__input:focus ~ .field__label-wrap .field__label,
  .field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
    overflow: hidden;
color :grey;
    top: var(--fieldHintTopHover, .01rem);
  }
  
  /* 
  effect 1
  */
  
  .field_v1 .field__label-wrap::after{
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transition: opacity .2s ease-out;
    overflow: hidden;
  }
  
  /* 
  effect 2
  */
  
  .field_v2 .field__label-wrap{
    overflow: hidden;
  }
  
  .field_v2 .field__label-wrap::after{
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transform: translate3d(-105%, 0, 0);
    overflow: hidden;
    transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
  }
  
  .field_v2 .field__input:focus ~ .field__label-wrap::after{
    transform: translate3d(0, 0, 0);
    transition-delay: 0;
    overflow: hidden;
  }
  
  /*
  effect 3
  */
  
  .field_v3 .field__label-wrap::after{
    overflow: hidden;
    border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transition: height .2s ease-out, opacity .2s ease-out;
  }
  
  .field_v3 .field__input:focus ~ .field__label-wrap::after{
    height: 100%;
    overflow: hidden;
  }
  
  
  .field{
    --fieldBorderColor: #D1C4E9;
    --fieldBorderColorActive: #4a9e5f;
    overflow: hidden;
  }
  


  .page{
    box-sizing: border-box;
    width: 100%;
    max-width: 480px;
    margin: auto;
    padding: 1rem;
    overflow: hidden;
    display: grid;
    grid-gap: 30px;
  }
  
  .linktr{
    overflow: hidden;
    order: -1;
    padding: 1.75rem;
    text-align: center;
  }
  
  .linktr__goal{
    overflow: hidden;
    background-color: rgb(209, 246, 255);
    color: rgb(8, 49, 112);
    box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
    border-radius: 2rem;
    padding: .5rem 1.25rem;
  }
   /*
  =====
  ITT VÉGZŐDIK
  =====
  */
  #images{
    height: 50px !important;
  }
  .drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover {
    background: #eee;
    border-color: #111;
  }
  
  .drop-container:hover .drop-title {
    overflow: hidden;
    color: #222;
  }
  
  .drop-title {
    overflow: hidden;
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }
  
  input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
  }
  
  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #579146;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #519b4b;
  }

  @media (min-width: 1024px){
    
    .linktr{
      position: absolute; 
      right: 1rem; 
      bottom: 1rem;
    }
  }
  
  .r-link{
      --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
      --uirLinkTextColor: var(--rLinkTextColor);
      --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  
      display: var(--uirLinkDisplay) !important;
      color: var(--uirLinkTextColor) !important;
      text-decoration: var(--uirLinkTextDecoration) !important;
  }



/* navbar pc linkek + logo */
#Tormenetedpowerlogo{
    height: 40% !important;
    width: 40% !important;
    padding: 10px !important;
}

.nav-links
{
    display: flex !important;
    width: 40% !important;
}
.nav-links li{
    list-style:none !important;
    display: inline-block !important;
    padding-left:30px !important;
    padding-right:30px !important;

}
.nav-links a{
    margin: 0px !important;
    text-decoration: none !important;
    letter-spacing: 3px !important;
    font-weight: bold !important;
    font-size: 18px !important;
}
.nav-links :hover{
    color:rgb(146, 146, 146) !important;
}
.burger{
    display: none !important;
    cursor: pointer !important;
}
.burger div{
    width: 25px !important;
    height: 3px !important;
    background-color: white !important;
    margin: 5px !important;
}
  .container-xxl{
    box-shadow:  60px 60px 60px 60px #141412;
    color:white;
    width: 100%;
    height: 100%;

    overflow: hidden;
    background-color:#121212;
  }
  .navbar-custom {
    background-color: rgb(29, 30, 33);

}
.nav-item:hover{
    color:#dcdcdc;
    
}
#box {
    background-color: rgb(29, 30, 33);
padding: 20px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding-left: 70px;
width: 100%;
}
#tovabbi {
    font-size: 15px;
    text-decoration: underline;
    font-family: 'NunitoB';
    color: #adb5bd;
}
.card-header{
    background-color: #202020 !important;

}
.card-body{
    background-color: #202020;
}
#heal-elvui{
    margin-left: 2%;
    border: 1px solid white;
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}
.card{
    background-color: #202020 !important;
    border: 1px solid white !important;
}
.container-addon{
    background-color: #202020;
    color: white;
    width: 100%;
    margin-top: 15%;

}

#heal-full{
    margin-left: 2%;
    border: 1px solid white;
    width: 50%;
    height: 50%;
    border-radius: 5%;
}


.example_e {
    border: 1px solid white;
	border: none;
	background: rgba(255, 136, 0, 0.979);
	color: #ffffff !important;
	font-weight: 100;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}
.example_e:hover {
    border: 1px solid white;
    background: rgba(194, 154, 24, 0.979);
	color: rgba(194, 154, 24, 0.979) !important;
	font-weight: 700 !important;
	letter-spacing: 2px;
	background: none;
	transition: all 0.3s ease 0s;
}
#gomb{
    text-decoration: none;
    color:white;
}
#warning{
    background-color: rgb(204, 204, 9);
    color: black;
}
#myInput{
    opacity:0;
}
.blur.active {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

#popup {
    /*NEW*/
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    padding: 50px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    width: 650px;
    top: 53%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
/* ---------------------------------------------------------------------*/
.popup{
    width: max-content;
    margin: auto;
    text-align: center
}
.popup img{
    width: 30%;
    height: 50%;
    cursor: pointer
}
.show-pop {
    z-index: 990;
    display: none;
    
}
.show-pop .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}
.show-pop  .img-show-pop {
    width: 30%;
    height: 50%;
    border: solid white;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.img-show-pop  span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show-pop  img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.btn{
    border: none !important;
    background-color: orange !important;
}
.btn:hover{
    border: none !important;
    background-color: rgb(177, 124, 27) !important;
}

/*nd style*/
#addnos-label{
    margin: auto;
    width: 40%;
    padding-top:30px;
    padding-bottom:30px;
}
#addnos-label input{
    height: 30px;
    width: 500px;
    text-transform: uppercase;
}
  p,
label {
    font: 1rem 'Fira Sans', sans-serif;
    overflow-y: hidden;
}

input {
    margin: .4rem;
}
#addon-checkbox{
    overflow-y: hidden;
    margin: auto;
    width: 40%;
    
}
#addon-checkbox input{
    overflow-y: hidden;
    height: 40px;
    width: 30px;
    text-transform: uppercase;
}

  input[type=file]{
  background:#2d2d2d;}
  textarea{
    width: 450px;
    height: 200px;
  }
  .clone-hide
  {
    visibility: hidden;
  }
/* navbar telefonso*/
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed !important;
        z-index: 999 !important;
        top:0;
        left: 0;
        width: 50%;
        height: 100%;
        padding-left: 0;
        padding-right: 0;

    }

    .navbar-collapse.collapsing {
        left: -25%;
        transition: height 0s ease;
        background: rgba(14, 11, 11, 0.4);
        
    }

    .navbar-collapse.show {

        left: 0;
        transition: left 300ms ease-in-out;
        background: rgba(14, 11, 11, 0.4);
        
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
        background: rgba(14, 11, 11, 0.4);
    }
  
}



.navbar-inverse .navbar-toggler-icon{
         background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}