*{
  
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box !important;
    color: white !important;
    font-family: 'Roboto Condensed', sans-serif;
    
}

nav
{
    overflow-x: hidden;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    min-height: 10px !important;
    background-color: #333 !important;
    color: white !important;
    text-transform: uppercase !important;
    
}
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* navbar pc iconok */

#yticon{
    position: relative;
    top: 4px;
    padding-left:5px !important;
    padding-right:5px !important;
   
  
}
#dcicon{

    padding-left:5px !important;
    padding-right:5px !important;
    
}
#progressicon{
 
    padding-left:5px !important;
    padding-right:5px !important;
}





/* navbar pc linkek + logo */
#Tormenetedpowerlogo{
    height: 40% !important;
    width: 40% !important;
    padding: 10px !important;
}

.nav-links
{
    display: flex !important;
    
    width: 40% !important;
   
}
.nav-links li{
    list-style:none !important;
    display: inline-block !important;
    padding-left:30px !important;
    padding-right:30px !important;

}
.nav-links a{
    margin: 0px !important;
    text-decoration: none !important;
    letter-spacing: 3px !important;
    font-weight: bold !important;
    font-size: 18px !important;
}
.nav-links :hover{
    color:rgb(146, 146, 146) !important;
}
.burger{
    display: none !important;
    cursor: pointer !important;
}
.burger div{
    width: 25px !important;
    height: 3px !important;
    background-color: white !important;
    margin: 5px !important;
}

.container-xl{
    
    width:100%;
    height: 600px;
    overflow:hidden;
    background-color: #1d1c20;
    

   
}
#myVideo {
    
  
    object-fit: cover;
	width: 100%; 
    height: 600px;
 
}
.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 36px 36px rgba(0,0,0,0.75) !important;
    top: 0;
    left: 0;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    text-transform: uppercase !important;
    text-align: left;
    font-size: 20px;
    width: auto;
    min-width: 37%;
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 80%;
    
}

.container-2-xl{
  
    background-color: #1d1c20;
    width:100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;

    
}
#main-panel{
    margin-top: 30px !important;
    z-index: 40;
    background-color: #2f2d2d;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.895) 0px 22px 70px 4px;
}
#semmi-panel{
    margin-top: 30px !important;
    background-color: #1d1c20 !important;
    z-index: 10;
   width: 80px !important;
}
#off-panel{
    margin-top: 30px !important;
    z-index: 40;
    box-shadow: rgba(0, 0, 0, 0.895) 0px 22px 70px 4px;
    background-color: #2f2d2d !important;
    height: 100%;
    
}
#box {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(12, 12, 13);
    padding: 25px !important;
    font-size: 22px;
    color: #fff;
    text-align: center;
}
iframe{
    object-fit: cover;
    width: 100%;
    height: 270px;
    border: 1px solid white;
}
.container-lg{
    width: 100%;
   
    
}
#kozosseg{

    background-image: url('public/Index_kepek/opilogo.png')!important;
    background-repeat: no-repeat;
    padding:50px !important;
    height: 400px;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(226, 213, 213, 0.5);
  }


#confipepe{
    background-color:  rgba(0,0,0,0.0);
    border: 0px;
    display: block;
    object-fit: cover;
    max-width: 300px;
    z-index: -1;
   
}
#slider{
    max-height:250px;
}
.card{
    width: 100%;
    border: 1px solid white !important;
    background-color: #2f2d2d !important;
  }

.stats{
  background: #2f2d2d !important;
      color: white !important;
  }
  .articles{
    font-size:10px;
    color: #a1aab9;
  }
  .number1{
    font-weight:500;
  }
  .followers{
      font-size:10px;
    color: #a1aab9;
  
  }
  .number2{
    font-weight:500;
  }
  .rating{
      font-size:10px;
    color: #a1aab9;
  }
  .number3{
    font-weight:500;
  }
  .logged-in{

    color: green !important;
    font-size: 20px !important;
  }
  .logged-out{
    color: red !important;
    font-size: 20px !important;
  }

  .twitter-timeline .twitter-timeline-rendered{
    vertical-align: middle;
    display:table;
  }
 
/* navbar telefon */
@media screen and (max-width:768px){
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative;
      }
    .burger div{
        width: 35px !important;
        height: 5px !important;
        background-color: white !important;
        margin: 5px ;
    }
    #Tormenetedpowerlogo{
        height: 40% ;
        width: 40% ;
    }
    .nav-links{
        overflow: hidden;
        height: 100%!important;
        position:fixed !important;
        right:0px;
        width: 100% !important;
        top: 10% ;
        background-color: rgba(24,26,29,.95) !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        z-index: 99;
        transform: translateX(100%);
        transition:transform 0.3s ease-in ;
   }
   .nav-links a{
    font-size: 30px !important;
   }
   #kezdo-mobile{
    
    position: absolute !important;
    top: 10% !important;
   }
   #kezdo{
    margin-left: auto !important;
}

    #info-mobile{
        
        position: absolute !important;
        top: 20% !important;
   }
   #addon-mobile{
    
    position: absolute !important;
    top: 30% !important;
   }
   .burger{
    display:block !important;
   }

   /* navbar telefon iconok */
   #yticon{

    position: absolute !important;
            right: 42% !important;
            top: 48% !important;
    }

    #dcicon{
       
        position: absolute !important;
        right: 15% !important;
        top: 50% !important;
    }

    #progressicon{
        font-size: 60px !important;
        position: absolute !important;
        right: 70% !important;
        top: 47% !important;

    }
    /* navbar telefon iconok méretei */
    #progresskep{
        height: 70px !important;
        
    }

    .bi::before{
        font-size: 70px !important;
        display: block;
    }
    .fa::before{
        font-size: 70px !important;
    }

    #myVideo {
        z-index: 30;
        object-fit: cover;
        width:100%; 
        min-height: 600px;
        height: 100%
       
        
      }
      .overlay {
        background: rgba(0, 0, 0, 0.5);
        text-transform: uppercase !important;
        font-size: 30px;
        text-align: center;
        position:absolute;
        width: 80%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
     
        
    }
    .fa-youtube::before{
        font-size:70px;
            display: block;
            align-items: center;
            position: absolute !important;
            right: 50% !important;
            top: 50% !important;
    }


}




.nav-active{
    transform: translateX(0%);
    
}

/* Main container dolgok főbb */
